.name {
  font-family: "brandon grotesque", brandon, helvetica, sans-serif;
  font-size: 5vw;
  color: #ffffff;
}

.name::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: url(/public/aleny.jpeg) no-repeat center center fixed; 
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: saturate(.3);
  z-index: -1;
}

.nameWrapper {
  diplay: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}