.fullImg {
  height: 80vh;
  margin-bottom: 48px;
  /* height: calc(100vh - 80px); header height */
}

.fullImg::before {
  content: "";
  position: absolute;
  left: 0;
  /* top: 80px; header height */
  right: 0;
  background: url(/public/main.jpeg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 80vh;
  /* height: calc(100vh - 80px); header height */
  filter: saturate(0.3);
  z-index: -1;
}

@media only screen and (min-width: 992px) {
  .fullImg::before {
    background-position: 0 70%;
  }
}
